--
-- PostgreSQL database dump
--

\restrict TfyNJ1pDW3NT5G0vJcWeb7wowSRmgLQZsNsZ1y8X15ooK7guew9WuzuOfhreeR7

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AspNetRoleClaims; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."AspNetRoleClaims" (
    "Id" integer NOT NULL,
    "RoleId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetRoleClaims" OWNER TO flhub_user;

--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: flhub_user
--

ALTER TABLE public."AspNetRoleClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetRoleClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetRoles; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."AspNetRoles" (
    "Id" text NOT NULL,
    "Name" character varying(256),
    "NormalizedName" character varying(256),
    "ConcurrencyStamp" text
);


ALTER TABLE public."AspNetRoles" OWNER TO flhub_user;

--
-- Name: AspNetUserClaims; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."AspNetUserClaims" (
    "Id" integer NOT NULL,
    "UserId" text NOT NULL,
    "ClaimType" text,
    "ClaimValue" text
);


ALTER TABLE public."AspNetUserClaims" OWNER TO flhub_user;

--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE; Schema: public; Owner: flhub_user
--

ALTER TABLE public."AspNetUserClaims" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."AspNetUserClaims_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: AspNetUserLogins; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."AspNetUserLogins" (
    "LoginProvider" text NOT NULL,
    "ProviderKey" text NOT NULL,
    "ProviderDisplayName" text,
    "UserId" text NOT NULL
);


ALTER TABLE public."AspNetUserLogins" OWNER TO flhub_user;

--
-- Name: AspNetUserRoles; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."AspNetUserRoles" (
    "UserId" text NOT NULL,
    "RoleId" text NOT NULL
);


ALTER TABLE public."AspNetUserRoles" OWNER TO flhub_user;

--
-- Name: AspNetUserTokens; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."AspNetUserTokens" (
    "UserId" text NOT NULL,
    "LoginProvider" text NOT NULL,
    "Name" text NOT NULL,
    "Value" text
);


ALTER TABLE public."AspNetUserTokens" OWNER TO flhub_user;

--
-- Name: AspNetUsers; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."AspNetUsers" (
    "Id" text NOT NULL,
    "FirstName" text NOT NULL,
    "LastName" text NOT NULL,
    "University" text,
    "Specialty" text,
    "Bio" text,
    "AvatarUrl" text,
    "Rating" numeric(3,2) NOT NULL,
    "ReviewCount" integer NOT NULL,
    "IsBlocked" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UserName" character varying(256),
    "NormalizedUserName" character varying(256),
    "Email" character varying(256),
    "NormalizedEmail" character varying(256),
    "EmailConfirmed" boolean NOT NULL,
    "PasswordHash" text,
    "SecurityStamp" text,
    "ConcurrencyStamp" text,
    "PhoneNumber" text,
    "PhoneNumberConfirmed" boolean NOT NULL,
    "TwoFactorEnabled" boolean NOT NULL,
    "LockoutEnd" timestamp with time zone,
    "LockoutEnabled" boolean NOT NULL,
    "AccessFailedCount" integer NOT NULL
);


ALTER TABLE public."AspNetUsers" OWNER TO flhub_user;

--
-- Name: Categories; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."Categories" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL,
    "Description" text,
    "IconUrl" text
);


ALTER TABLE public."Categories" OWNER TO flhub_user;

--
-- Name: GigSkills; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."GigSkills" (
    "GigId" uuid NOT NULL,
    "SkillId" uuid NOT NULL
);


ALTER TABLE public."GigSkills" OWNER TO flhub_user;

--
-- Name: Gigs; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."Gigs" (
    "Id" uuid NOT NULL,
    "StudentId" text NOT NULL,
    "CategoryId" uuid NOT NULL,
    "Title" text NOT NULL,
    "Description" text NOT NULL,
    "Price" numeric(10,2) NOT NULL,
    "DeliveryDays" integer NOT NULL,
    "Status" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Gigs" OWNER TO flhub_user;

--
-- Name: Notifications; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."Notifications" (
    "Id" uuid NOT NULL,
    "UserId" text NOT NULL,
    "Title" text NOT NULL,
    "Message" text NOT NULL,
    "IsRead" boolean NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Notifications" OWNER TO flhub_user;

--
-- Name: OrderSkills; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."OrderSkills" (
    "OrderId" uuid NOT NULL,
    "SkillId" uuid NOT NULL
);


ALTER TABLE public."OrderSkills" OWNER TO flhub_user;

--
-- Name: Orders; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."Orders" (
    "Id" uuid NOT NULL,
    "EmployerId" text NOT NULL,
    "CategoryId" uuid NOT NULL,
    "Title" text NOT NULL,
    "Description" text NOT NULL,
    "Budget" numeric(10,2) NOT NULL,
    "Deadline" date NOT NULL,
    "Status" integer NOT NULL,
    "SelectedStudentId" text,
    "CreatedAt" timestamp with time zone NOT NULL,
    "UpdatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Orders" OWNER TO flhub_user;

--
-- Name: Proposals; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."Proposals" (
    "Id" uuid NOT NULL,
    "OrderId" uuid NOT NULL,
    "StudentId" text NOT NULL,
    "CoverLetter" text NOT NULL,
    "ProposedPrice" numeric(10,2) NOT NULL,
    "ProposedDays" integer NOT NULL,
    "Status" integer NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Proposals" OWNER TO flhub_user;

--
-- Name: Reviews; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."Reviews" (
    "Id" uuid NOT NULL,
    "OrderId" uuid NOT NULL,
    "ReviewerId" text NOT NULL,
    "RevieweeId" text NOT NULL,
    "Rating" integer NOT NULL,
    "Comment" text NOT NULL,
    "CreatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public."Reviews" OWNER TO flhub_user;

--
-- Name: Skills; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."Skills" (
    "Id" uuid NOT NULL,
    "Name" text NOT NULL
);


ALTER TABLE public."Skills" OWNER TO flhub_user;

--
-- Name: UserSkills; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."UserSkills" (
    "UserId" text NOT NULL,
    "SkillId" uuid NOT NULL
);


ALTER TABLE public."UserSkills" OWNER TO flhub_user;

--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: flhub_user
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO flhub_user;

--
-- Data for Name: AspNetRoleClaims; Type: TABLE DATA; Schema: public; Owner: flhub_user
--

COPY public."AspNetRoleClaims" ("Id", "RoleId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetRoles; Type: TABLE DATA; Schema: public; Owner: flhub_user
--

COPY public."AspNetRoles" ("Id", "Name", "NormalizedName", "ConcurrencyStamp") FROM stdin;
5ee169d1-46fa-4f2b-a8b7-5ac37d70d667	Admin	ADMIN	\N
95e6ab8e-f99b-4d74-9ece-e63f423204a0	Student	STUDENT	\N
1d46e6e1-ee03-4ba5-8a0b-9e417df8b673	Employer	EMPLOYER	\N
\.


--
-- Data for Name: AspNetUserClaims; Type: TABLE DATA; Schema: public; Owner: flhub_user
--

COPY public."AspNetUserClaims" ("Id", "UserId", "ClaimType", "ClaimValue") FROM stdin;
\.


--
-- Data for Name: AspNetUserLogins; Type: TABLE DATA; Schema: public; Owner: flhub_user
--

COPY public."AspNetUserLogins" ("LoginProvider", "ProviderKey", "ProviderDisplayName", "UserId") FROM stdin;
\.


--
-- Data for Name: AspNetUserRoles; Type: TABLE DATA; Schema: public; Owner: flhub_user
--

COPY public."AspNetUserRoles" ("UserId", "RoleId") FROM stdin;
16d36242-5622-4416-ba24-3472a90a1545	5ee169d1-46fa-4f2b-a8b7-5ac37d70d667
9466eacb-654e-4c70-9101-30d4244cff30	95e6ab8e-f99b-4d74-9ece-e63f423204a0
1255b8ff-7920-451a-ad0a-98fe9a0f1772	1d46e6e1-ee03-4ba5-8a0b-9e417df8b673
\.


--
-- Data for Name: AspNetUserTokens; Type: TABLE DATA; Schema: public; Owner: flhub_user
--

COPY public."AspNetUserTokens" ("UserId", "LoginProvider", "Name", "Value") FROM stdin;
\.


--
-- Data for Name: AspNetUsers; Type: TABLE DATA; Schema: public; Owner: flhub_user
--



--
-- Data for Name: Categories; Type: TABLE DATA; Schema: public; Owner: flhub_user
--



--
-- Data for Name: GigSkills; Type: TABLE DATA; Schema: public; Owner: flhub_user
--

COPY public."GigSkills" ("GigId", "SkillId") FROM stdin;
fad4268c-a900-4486-943b-cd7e8e2a7890	69fc337d-328c-41e0-8ffe-eb3a085fe0e8
fad4268c-a900-4486-943b-cd7e8e2a7890	a407f7b4-4d4b-4e15-a90a-ac08e802a484
932a174f-caac-4c00-ba4d-8ef8cbedd84b	69fc337d-328c-41e0-8ffe-eb3a085fe0e8
932a174f-caac-4c00-ba4d-8ef8cbedd84b	a407f7b4-4d4b-4e15-a90a-ac08e802a484
9cf6a6b2-cf0e-4c71-b3e8-fd511e13cea2	69fc337d-328c-41e0-8ffe-eb3a085fe0e8
9cf6a6b2-cf0e-4c71-b3e8-fd511e13cea2	a407f7b4-4d4b-4e15-a90a-ac08e802a484
\.


--
-- Data for Name: Gigs; Type: TABLE DATA; Schema: public; Owner: flhub_user
--



--
-- Data for Name: Notifications; Type: TABLE DATA; Schema: public; Owner: flhub_user
--



--
-- Data for Name: OrderSkills; Type: TABLE DATA; Schema: public; Owner: flhub_user
--



--
-- Data for Name: Orders; Type: TABLE DATA; Schema: public; Owner: flhub_user
--



--
-- Data for Name: Proposals; Type: TABLE DATA; Schema: public; Owner: flhub_user
--



--
-- Data for Name: Reviews; Type: TABLE DATA; Schema: public; Owner: flhub_user
--



--
-- Data for Name: Skills; Type: TABLE DATA; Schema: public; Owner: flhub_user
--



--
-- Data for Name: UserSkills; Type: TABLE DATA; Schema: public; Owner: flhub_user
--

COPY public."UserSkills" ("UserId", "SkillId") FROM stdin;
\.


--
-- Data for Name: __EFMigrationsHistory; Type: TABLE DATA; Schema: public; Owner: flhub_user
--

COPY public."__EFMigrationsHistory" ("MigrationId", "ProductVersion") FROM stdin;
20260411124438_InitialCreate	8.0.0
\.


--
-- Name: AspNetRoleClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: flhub_user
--

SELECT pg_catalog.setval('public."AspNetRoleClaims_Id_seq"', 1, false);


--
-- Name: AspNetUserClaims_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: flhub_user
--

SELECT pg_catalog.setval('public."AspNetUserClaims_Id_seq"', 1, false);


--
-- Name: AspNetRoleClaims PK_AspNetRoleClaims; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "PK_AspNetRoleClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetRoles PK_AspNetRoles; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetRoles"
    ADD CONSTRAINT "PK_AspNetRoles" PRIMARY KEY ("Id");


--
-- Name: AspNetUserClaims PK_AspNetUserClaims; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "PK_AspNetUserClaims" PRIMARY KEY ("Id");


--
-- Name: AspNetUserLogins PK_AspNetUserLogins; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "PK_AspNetUserLogins" PRIMARY KEY ("LoginProvider", "ProviderKey");


--
-- Name: AspNetUserRoles PK_AspNetUserRoles; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "PK_AspNetUserRoles" PRIMARY KEY ("UserId", "RoleId");


--
-- Name: AspNetUserTokens PK_AspNetUserTokens; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "PK_AspNetUserTokens" PRIMARY KEY ("UserId", "LoginProvider", "Name");


--
-- Name: AspNetUsers PK_AspNetUsers; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetUsers"
    ADD CONSTRAINT "PK_AspNetUsers" PRIMARY KEY ("Id");


--
-- Name: Categories PK_Categories; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Categories"
    ADD CONSTRAINT "PK_Categories" PRIMARY KEY ("Id");


--
-- Name: GigSkills PK_GigSkills; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."GigSkills"
    ADD CONSTRAINT "PK_GigSkills" PRIMARY KEY ("GigId", "SkillId");


--
-- Name: Gigs PK_Gigs; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Gigs"
    ADD CONSTRAINT "PK_Gigs" PRIMARY KEY ("Id");


--
-- Name: Notifications PK_Notifications; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Notifications"
    ADD CONSTRAINT "PK_Notifications" PRIMARY KEY ("Id");


--
-- Name: OrderSkills PK_OrderSkills; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."OrderSkills"
    ADD CONSTRAINT "PK_OrderSkills" PRIMARY KEY ("OrderId", "SkillId");


--
-- Name: Orders PK_Orders; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "PK_Orders" PRIMARY KEY ("Id");


--
-- Name: Proposals PK_Proposals; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Proposals"
    ADD CONSTRAINT "PK_Proposals" PRIMARY KEY ("Id");


--
-- Name: Reviews PK_Reviews; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "PK_Reviews" PRIMARY KEY ("Id");


--
-- Name: Skills PK_Skills; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Skills"
    ADD CONSTRAINT "PK_Skills" PRIMARY KEY ("Id");


--
-- Name: UserSkills PK_UserSkills; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."UserSkills"
    ADD CONSTRAINT "PK_UserSkills" PRIMARY KEY ("UserId", "SkillId");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: EmailIndex; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "EmailIndex" ON public."AspNetUsers" USING btree ("NormalizedEmail");


--
-- Name: IX_AspNetRoleClaims_RoleId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_AspNetRoleClaims_RoleId" ON public."AspNetRoleClaims" USING btree ("RoleId");


--
-- Name: IX_AspNetUserClaims_UserId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_AspNetUserClaims_UserId" ON public."AspNetUserClaims" USING btree ("UserId");


--
-- Name: IX_AspNetUserLogins_UserId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_AspNetUserLogins_UserId" ON public."AspNetUserLogins" USING btree ("UserId");


--
-- Name: IX_AspNetUserRoles_RoleId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_AspNetUserRoles_RoleId" ON public."AspNetUserRoles" USING btree ("RoleId");


--
-- Name: IX_GigSkills_SkillId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_GigSkills_SkillId" ON public."GigSkills" USING btree ("SkillId");


--
-- Name: IX_Gigs_CategoryId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Gigs_CategoryId" ON public."Gigs" USING btree ("CategoryId");


--
-- Name: IX_Gigs_Status; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Gigs_Status" ON public."Gigs" USING btree ("Status");


--
-- Name: IX_Gigs_StudentId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Gigs_StudentId" ON public."Gigs" USING btree ("StudentId");


--
-- Name: IX_Notifications_UserId_IsRead; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Notifications_UserId_IsRead" ON public."Notifications" USING btree ("UserId", "IsRead");


--
-- Name: IX_OrderSkills_SkillId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_OrderSkills_SkillId" ON public."OrderSkills" USING btree ("SkillId");


--
-- Name: IX_Orders_CategoryId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Orders_CategoryId" ON public."Orders" USING btree ("CategoryId");


--
-- Name: IX_Orders_EmployerId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Orders_EmployerId" ON public."Orders" USING btree ("EmployerId");


--
-- Name: IX_Orders_SelectedStudentId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Orders_SelectedStudentId" ON public."Orders" USING btree ("SelectedStudentId");


--
-- Name: IX_Orders_Status; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Orders_Status" ON public."Orders" USING btree ("Status");


--
-- Name: IX_Proposals_OrderId_StudentId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE UNIQUE INDEX "IX_Proposals_OrderId_StudentId" ON public."Proposals" USING btree ("OrderId", "StudentId");


--
-- Name: IX_Proposals_StudentId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Proposals_StudentId" ON public."Proposals" USING btree ("StudentId");


--
-- Name: IX_Reviews_OrderId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Reviews_OrderId" ON public."Reviews" USING btree ("OrderId");


--
-- Name: IX_Reviews_RevieweeId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Reviews_RevieweeId" ON public."Reviews" USING btree ("RevieweeId");


--
-- Name: IX_Reviews_ReviewerId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_Reviews_ReviewerId" ON public."Reviews" USING btree ("ReviewerId");


--
-- Name: IX_UserSkills_SkillId; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE INDEX "IX_UserSkills_SkillId" ON public."UserSkills" USING btree ("SkillId");


--
-- Name: RoleNameIndex; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE UNIQUE INDEX "RoleNameIndex" ON public."AspNetRoles" USING btree ("NormalizedName");


--
-- Name: UserNameIndex; Type: INDEX; Schema: public; Owner: flhub_user
--

CREATE UNIQUE INDEX "UserNameIndex" ON public."AspNetUsers" USING btree ("NormalizedUserName");


--
-- Name: AspNetRoleClaims FK_AspNetRoleClaims_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetRoleClaims"
    ADD CONSTRAINT "FK_AspNetRoleClaims_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserClaims FK_AspNetUserClaims_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetUserClaims"
    ADD CONSTRAINT "FK_AspNetUserClaims_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserLogins FK_AspNetUserLogins_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetUserLogins"
    ADD CONSTRAINT "FK_AspNetUserLogins_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetRoles_RoleId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetRoles_RoleId" FOREIGN KEY ("RoleId") REFERENCES public."AspNetRoles"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserRoles FK_AspNetUserRoles_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetUserRoles"
    ADD CONSTRAINT "FK_AspNetUserRoles_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: AspNetUserTokens FK_AspNetUserTokens_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."AspNetUserTokens"
    ADD CONSTRAINT "FK_AspNetUserTokens_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: GigSkills FK_GigSkills_Gigs_GigId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."GigSkills"
    ADD CONSTRAINT "FK_GigSkills_Gigs_GigId" FOREIGN KEY ("GigId") REFERENCES public."Gigs"("Id") ON DELETE CASCADE;


--
-- Name: GigSkills FK_GigSkills_Skills_SkillId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."GigSkills"
    ADD CONSTRAINT "FK_GigSkills_Skills_SkillId" FOREIGN KEY ("SkillId") REFERENCES public."Skills"("Id") ON DELETE CASCADE;


--
-- Name: Gigs FK_Gigs_AspNetUsers_StudentId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Gigs"
    ADD CONSTRAINT "FK_Gigs_AspNetUsers_StudentId" FOREIGN KEY ("StudentId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Gigs FK_Gigs_Categories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Gigs"
    ADD CONSTRAINT "FK_Gigs_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."Categories"("Id") ON DELETE CASCADE;


--
-- Name: Notifications FK_Notifications_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Notifications"
    ADD CONSTRAINT "FK_Notifications_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: OrderSkills FK_OrderSkills_Orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."OrderSkills"
    ADD CONSTRAINT "FK_OrderSkills_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public."Orders"("Id") ON DELETE CASCADE;


--
-- Name: OrderSkills FK_OrderSkills_Skills_SkillId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."OrderSkills"
    ADD CONSTRAINT "FK_OrderSkills_Skills_SkillId" FOREIGN KEY ("SkillId") REFERENCES public."Skills"("Id") ON DELETE CASCADE;


--
-- Name: Orders FK_Orders_AspNetUsers_EmployerId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "FK_Orders_AspNetUsers_EmployerId" FOREIGN KEY ("EmployerId") REFERENCES public."AspNetUsers"("Id") ON DELETE RESTRICT;


--
-- Name: Orders FK_Orders_AspNetUsers_SelectedStudentId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "FK_Orders_AspNetUsers_SelectedStudentId" FOREIGN KEY ("SelectedStudentId") REFERENCES public."AspNetUsers"("Id") ON DELETE SET NULL;


--
-- Name: Orders FK_Orders_Categories_CategoryId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Orders"
    ADD CONSTRAINT "FK_Orders_Categories_CategoryId" FOREIGN KEY ("CategoryId") REFERENCES public."Categories"("Id") ON DELETE CASCADE;


--
-- Name: Proposals FK_Proposals_AspNetUsers_StudentId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Proposals"
    ADD CONSTRAINT "FK_Proposals_AspNetUsers_StudentId" FOREIGN KEY ("StudentId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: Proposals FK_Proposals_Orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Proposals"
    ADD CONSTRAINT "FK_Proposals_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public."Orders"("Id") ON DELETE CASCADE;


--
-- Name: Reviews FK_Reviews_AspNetUsers_RevieweeId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "FK_Reviews_AspNetUsers_RevieweeId" FOREIGN KEY ("RevieweeId") REFERENCES public."AspNetUsers"("Id") ON DELETE RESTRICT;


--
-- Name: Reviews FK_Reviews_AspNetUsers_ReviewerId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "FK_Reviews_AspNetUsers_ReviewerId" FOREIGN KEY ("ReviewerId") REFERENCES public."AspNetUsers"("Id") ON DELETE RESTRICT;


--
-- Name: Reviews FK_Reviews_Orders_OrderId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."Reviews"
    ADD CONSTRAINT "FK_Reviews_Orders_OrderId" FOREIGN KEY ("OrderId") REFERENCES public."Orders"("Id") ON DELETE CASCADE;


--
-- Name: UserSkills FK_UserSkills_AspNetUsers_UserId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."UserSkills"
    ADD CONSTRAINT "FK_UserSkills_AspNetUsers_UserId" FOREIGN KEY ("UserId") REFERENCES public."AspNetUsers"("Id") ON DELETE CASCADE;


--
-- Name: UserSkills FK_UserSkills_Skills_SkillId; Type: FK CONSTRAINT; Schema: public; Owner: flhub_user
--

ALTER TABLE ONLY public."UserSkills"
    ADD CONSTRAINT "FK_UserSkills_Skills_SkillId" FOREIGN KEY ("SkillId") REFERENCES public."Skills"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict TfyNJ1pDW3NT5G0vJcWeb7wowSRmgLQZsNsZ1y8X15ooK7guew9WuzuOfhreeR7

